<!DOCTYPE html>
<html lang="en">
<head>
  <title>BlogApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
.bg-1 { 
  background: url(http://blog.hdwallsource.com/wp-content/uploads/2014/11/coffee-cup-wallpaper-38720-39606-hd-wallpapers.jpg) no-repeat center center fixed; 
  background-size: cover;
}
.header {
    padding: 50px 0 50px;
    color: white;
}
</style>

<body>
    <div class="container-fluid bg-1 header text-center">
        <span style="font-size:60px; font-family:'Poppins', sans-serif">BlogSpace</span>
        <p style="font-family:'Poppins', sans-serif; font-size:35px; margin-top:150px;">Let's get started shall we?</p>
        <% if user_signed_in? %>
        <a href="/posts" class="btn btn-primary btn-lg" role="button">Login</a>
        <% else %>
        <a href="/users/sign_up" class="btn btn-primary btn-lg" role="button">Create Account</a>
        <% end %>
        <h3 style="margin-top:200px; font-family:'Poppins', sans-serif">share. connect. create. inspire.</h3>
    </div>

</body>
</html>